.form-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    /* background-color: rgb(222, 86, 86); */
    flex-direction: column;
    margin: auto;
}

.form-outer .form-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-inner input, .form-inner select {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(152, 61, 61);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.form-inner label {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-inner button {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(152, 61, 61);
    color: black;
    font-size: 20;
    cursor: pointer;
    margin: 10px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.heading {
    font-size: 50px;
    font-weight: 200;
    color:  rgb(152, 61, 61);;
    text-align: center;
    margin-bottom: 2rem;
}
.foodButton {
    background-color:  rgb(152, 61, 61);
}
select {
    width: 200px;
}